body {
    padding-top: 70px;
}

.avatar {
    height: 32px;
    width: 32px;
}

#timeline .more-tweets {
    text-align: center;
}

#tweet-form .photo-button {
    position: relative;
}

#tweet-form .photo-button input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

