@(timeline: String, tweetForm: Form[TweetData])(implicit user: Option[securesocial.core.Identity], token: Option[play.filters.csrf.CSRF.Token] = None)

@import helper._
@import play.api.i18n.Messages


@pageScripts = {
<script type="text/x-handlebars" id="template-tweet">
{{#each tweets}}
    <div class="list-group-item tweet" data-tweet-id="{{id}}">
        <div class="media">
            <a class="pull-left" href="https://twitter.com/{{screenName}}">
                <img class="media-object img-rounded" src="{{avatarUrl}}">
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{author}} <small>@@{{screenName}}</small></h4>
                {{message}}
            </div>
        </div>
    </div>
{{/each}}
<a href="#" class="list-group-item more-tweets" data-before-tweet-id="{{beforeId}}">More Tweets</a>
</script>
<script type="text/javascript">
    PageStore.set('timeline', @Html(timeline));
</script>
<script src="@routes.Assets.at("javascripts/timeline.js")"></script>
<script src="@routes.Assets.at("javascripts/tweet_form.js")"></script>
}

@main("Home", pageScripts) {
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <img src="@user.get.avatarUrl" class="img-rounded avatar">
                    @user.get.fullName
                </h3>
            </div>
            <div class="panel-body">
                @form(action = routes.Client.createStatus(),
                      'id -> "tweet-form",
                      'role -> "form",
                      'enctype -> "multipart/form-data") {
                    <div class="hidden">
                        @CSRF.formField(token.get)
                        <input type="hidden" name="utf8" value="✓">
                        <input type="hidden" name="geolocation" value="false">
                        <input type="hidden" name="longitude" value="0">
                        <input type="hidden" name="latitude" value="0">
                    </div>
                    <div class="form-group @if(tweetForm.error("status")) { has-error }">
                        <textarea class="form-control"
                                name="status"
                                maxlength="140"
                                placeholder="Compose new Tweet..."
                                required></textarea>
                        @if(tweetForm.error("status")) {
                            <span class="help-block">@tweetForm.errors("status").map(e => Messages(e.message)).mkString(", ")</span>
                        }
                    </div>
                    <div class="photo-button btn btn-default">
                        <span class="glyphicon glyphicon-camera"></span>
                        <input type="file" name="photo">
                    </div>
                    <button type="button" class="btn btn-default js-geolocation">
                        <span class="glyphicon glyphicon-map-marker"></span>
                    </button>
                    <button type="submit" class="btn btn-default pull-right">Tweet</button>
                }
             </div>
        </div>
    </div>
    <div class="col-md-8">
        <h2>Tweets</h2>
        <div id="timeline" class="list-group">
        </div>
    </div>
</div>
}
